* {
    color: white;
    font-size: 14px;
    font-family: "Segoe UI", "Microsoft YaHei", "DengXian", Arial, sans-serif;
}

QMainWindow {
    background-color: #202020;
}

QDialog {
    background-color: #202020;
}

QComboBox {
    background-color: #2d2d2d;
    padding: 3px 40px 3px 2px;
    font-size: 12px;
}

QComboBox:disabled {
    background-color: #f0f0f0;
    color: #d0d0d0;
}

QComboBox:hover {
    background-color: #323232;
}

QComboBox:pressed {
    background-color: #373737;
    border: 1px solid #303030;
}

QComboBox:disabled {
    background-color: #252525;
    color: #505050;
}

QComboBox QAbstractItemView {
    background-color: #353535;
}

QPushButton {
    background-color: #3e3e3e;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #3c3c3c;
}

QPushButton:hover {
    background-color: #444444;
}

QPushButton:disabled {
    background-color: #373737;
    color: #808080;
}

QPushButton:pressed {
    background-color: #393939;

    color: #cecece;
}

QMenu {
    background-color: #202020;
    color: white;
    border-radius: 5px;
    border: 1px solid #303030;
}

QMenu:disabled {
    background-color: #252525;
    color: #505050;
    border-radius: 5px;
}

QMenu:selected {
    background-color: #353535;
}

QMenuBar {
    background-color: #202020;
}

QMenuBar::item:selected {
    background-color: #353535;
}

QLineEdit {
    height: 30px;
    padding: 0;

    background-color: #2d2d2d;
}

QLineEdit:disabled {
    background-color: #252525;
    color: #505050;
}

QListView { 
    background-color: #353535;
}

QCheckBox {
    color: black;
}

/* 滚动区域容器样式：白底黑边 */
QScrollArea {
    background-color: #202020;
}

/* 滚动条角部样式（确保无缝隙） */
QScrollArea > QWidget > QWidget {
    background-color: #202020;
}

/* 滚动条样式：白底灰边 */
QScrollBar:vertical, QScrollBar:horizontal {
    background-color: #303030;
    width: 8px;
    border: 1px solid gray;  /* 灰色边框 */
}

/* 滚动条滑块样式 */
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background-color: #a0a0a0;  /* 浅灰色滑块 */
    min-height: 30px;
}

/* 滚动条滑块悬停样式 */
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background-color: gray;  /* 灰色滑块 */
}

/* 滚动条上下箭头样式 */
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    background-color: #cfcfcf;
}

QStatusBar {
    background-color: #404040;
}

QListWidget {
    background-color: #2d2d2d;

    outline: 0;
    margin: 0;
}

QListWidget::item {
    padding: 0;
    margin: 2px 0;
    border-radius: 4px;
}

QListWidget::item:selected {
    background-color: #323232;
    border-left: 4px solid #61b1ff;

    color: #f0f0f0;
}

QListWidget::item:hover {
    background-color: #272727;
}

QListWidget::item:hover:selected {
    background-color: #363636;
}

/* 类型提示框样式 */
.selected {
    background-color: #61b1ff;
    border: 1px solid #65b2ff;
    border-bottom-color: #3fa0ff;

    color: black;
}

.selected:hover {
    background-color: #52a9ff;
    color: black;
}

.selected:pressed {
    background-color: #3fa0ff;
    color: #00254a;
}

.sidebar_title {
    font-size: 18px;
    background-color: #323232;
    padding: 5px 3px;
}

.background_level1 {
    border: 1px solid #303030;
    background-color: #2b2b2b;
    border-radius: 4px;
}

.top_widget {
    background-color: #404040;
}

/* 描述栏样式 */
.dest {
    color: gray;
    font-size: 16px;
}

.dest_small { 
    color: gray;
}

/* 大字 */
.big_text_14 {
    font-size: 14px;
    font-weight: bold;
}

.big_text_16 {
    font-size: 16px;
    font-weight: bold;
}

.big_text_20 {
    font-size: 20px;
    font-weight: bold;
}

.big_text_24 {
    font-size: 24px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.frame {
    border: none;
    border-bottom: 2px solid #505050;
}

/* 元数据 */
.meta { 
    mode: dark;
}