.inline {
    display: inline;
}

.nav{
    position: fixed;
    background-color: rgb(7, 180, 233);
    width: 100%;
    border-radius: 8px;
}

.controls { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    .searchButton {
        background-color: white;
        position: relative;
        bottom: 60px;
        right: 20px;
        width: 1000px;
        height: 25px;
        border-radius: 8px;
        border: none;
        text-align: left;
    }
    .searchButton:hover {
        background-color: lightgray;
    }

    .lang {
        .langSelect {
            margin-right: 20px;
            font-size: 16px;
            color: black;
            border-radius: 8px;
            height: 30px;
            width: 200px;
            
        }
        .bigtext {
            font-size: 16px;
            color: black;
        }
}
}
